@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-black;
}
main,
footer,
nav {
  @apply pl-5 pr-5;
}
main {
  @apply container mx-auto;
}

.ourSuccessText {
  color: aqua;
  text-shadow: 0 0 10px cyan;
}

.ourSuccess::after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  border-left: solid 2px white;
  animation: typing 5s steps(15) infinite;
}

@keyframes typing {
  100% {
    left: 105%;
  }
}
